body {
    margin-top: 30px;
    background-color: #eee;
    font-family: 'Open sans-serif', sans-serif;

    .hidden {
        display: none;
    }

    label {
        width: 100%;
        color: #555;
    }
    span {
        color: #555;
    }

    .add-task .btn {
        width: 100%;
    }

    .all-check {
        margin-top: 10px;
    }
    #btn-delete {
        float: right;
        margin-bottom: 10px;
    }

    .date {
        position: absolute;
        right: 20px;
    }

    ul:not(.browser-default) {
        border-radius: 5px;
    }

    #ul-todo li [type="checkbox"]:checked+label {
        text-decoration: line-through;
    }
    // #ul-todo li:has([type="checkbox"]:checked) {
    //     text-decoration: line-through;
    // }
    #ul-todo li {
        background-color: #fff;
        transition: background-color .8s;
    }
    #ul-todo li.li-checked {
        background-color: rgba(255, 59, 63, .3);
    }

    .grey.darken-2 {
        background-color: #FF3B3F !important;
    }
    .light-blue.darken-2 {
        background-color: #00BBAC !important;
    }
    .mbox-wrapper h5 {
        text-align: center;
        font-size: 22px;
    }
}
@media only screen and (min-width: 993px){
    #toast-container {
        right: 10%;
    }
}
